body{
  font-family: 'Poppins', sans-serif;
  margin: 0;
  background-color: #040D12;


}

.title {
  position: relative;
  left: 50%;
  margin-top: 100px;
  transform: translate(-50%, -50%);
  color: #183D3D;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.home{
  color: #5C8374;
  text-decoration: underline;
}

.Schoollink{
  color: #5C8374;
}


.TextInfobottom {
  font-size: 18px;
  color: #ffffff;
  text-align: center;

  position: fixed;
bottom:0;
width:100%;
height:30px; 
letter-spacing: normal;}

.text{
  position: relative;
  left: 50%;
  margin-top: 15px;
  transform: translate(-50%, -50%);
  margin-bottom: 20px;
  color: white;
  font-size: 16px;
  max-width: 40%;
  
  
}

.buttonmail{
  background-color: transparent ;
  border: none;
  color: white;
  font-family: 'Popins', sans-serif;
  font-weight: bold;
  color: white; 
  font-size: 16px;
  text-decoration: underline;
}


@media screen and (max-width: 900px) {
  .Schoollink{
    position: fixed; left: 20%; top: 0%; 
  }
  
  .home{
    position: fixed; left: 0%; top: 0%;}
  
  
    .text{
      margin-top: 200px;
      font-size: 15px;
      
    }
  }
  @media screen and (max-width: 400px) {
    .Schoollink{
      position: fixed; left: 25%; top: 0%; 
    }
    
    .home{
      position: fixed; left: 0%; top: 0%;}
    
    
      .text{
        margin-top: 200px;
        font-size: 15px;
        
      }
    }

/* de @media kijkt in dit voorbeeld naar je screen width en daarop doet hij aanpassingen aan de site */
/* position staat voor de position, fixed zorgt er voor dat hij op een vaste plek blijft. LEft zorgt er voor de positie ten opzichte van de linkerkant etc. */
/* margin betekent de ruimte tussen dingen, dat kan elke kant op gebruikt worden */
/* . en dan een naam is de groep van de instellingen van de stijl  */
