.home, .Schoollink, .Login {
  font-family: 'Bold', sans-serif;
  font-size: 18px;
  font-weight: bold;
  border-radius: 12px;
  border: none;
  padding: 20px 30px;
  width: 350px;
  text-decoration: none;
  color: white;
  background-color: black;
  margin-top: 15px;
  position: fixed;
}


.home{
  margin-top: 5px;
  width: 10%;
  position: fixed; left: 5%; top: 0%;
    text-align: center;
    background-color: transparent;
    margin-left: 5px;
    width: 100px;
  }
  .Schoollink{
  margin-top: 5px;
  width: 10%;
  position: fixed; left: 15%; top: 0%; 
    text-align: center;
    background-color: transparent;
    
    width: 100px;
     }
      .Login{
    margin-top: 5px;
    width: 10%;
    position: fixed; right: 2%; top: 0%;
    text-align: center;
    background-color: transparent;
    margin-left: 5px;
    
        width: 100px; 
  }

  .topbar{

    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 50px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    z-index: 1;
  }

.topbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border-bottom: 3px solid transparent;
}

.topbar a:hover {
  border-bottom: 3px solid yellow;
}

.topbar a.active {
  border-bottom: 3px solid blue;
}
