.home, .Schoollink{
  font-family: 'Bold', sans-serif;
  font-size: 18px;
  font-weight: bold;
  border-radius: 12px;
  border: none;
  padding: 20px 30px;
  width: 350px;
  text-decoration: none;
  color: white;
  background-color: black;
  margin-top: 15px;
}


.home{
  margin-top: 5px;
  width: 10%;
  position: absolute; left: 10%; top: 0%;
    text-align: center;
    background-color: transparent;
    margin-left: 5px;
    width: 100px;
  }
  .Schoollink{
  margin-top: 5px;
  width: 10%;
  position: absolute; left: 20%; top: 0%; 
    text-align: center;
    background-color: transparent;
    
    width: 100px;
    
  }
  